<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel order</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="containerCancel" >
    <div class="product">Forgot to add something to your cart? Shop around then come back to pay!</div>
    <p class="checkoutFont">Click <a href="http://localhost:3000/checkout.html">HERE</a> to go back to checkout</p>
</body>
</html>